@import'../variables/Variables.scss'; 

.header{
        display:  flex;
        // inline-block;
        justify-content:left;
        border: 3px solid black;
        padding: 10px;
        width: 100%;
        margin: auto;
        background-color: $navColor;
        position:fixed; 
        font-size: 25px;   
}

.link{
    // color: white;   
    text-decoration: none;
    font-family: $titleFont;
    // margin:80px;
    padding: 0px 50px;

}

.list{
    // padding:80px ;
}

.image{
    width:20px;
    height: 20px;
}

